/* Bootstrap CSS Overrides */

.container, .container-fluid {
  width: 90%;
  margin-top:0;
  margin: auto;
  padding: 0;
}

/* Navbar Styles */

.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, .9);
}

.navbar-default {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: teal;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2em;
  padding-top: 22px;
  padding-bottom: 0;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: rgba(255, 255, 255, .6);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, .6);
}

/* Below: Mobile Menu Button */

.navbar-toggle {
  border-width: 2px;
  border-radius: .75em;
  border-color: #fff;
  padding: 1em;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, .2);
}

.navbar-nav>li>a {
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
  padding: 0;
  padding-top: 1em;
}

.navbar-collapse {
  box-shadow: inset 0 0 0 0;
  border: 0;
}


/* My CSS - Basic */

body {
  font-family: roboto, helvetica, arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

p>a:link, p>a:visited, p>a:active, p>a:focus, p>a:hover {
  color: teal;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

h3 {
  font-size: 2em;
  margin: 0;
  padding-top: .25em;
  padding-bottom: 1em;
}

p {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

.tile {
  background-color: rgba(18, 128, 127, .2);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2.5em;
  padding-bottom: 3em;
}

.wrapper {
  padding: 1em;
}

.back-to-top {
  padding-right: 20px;
}
